/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #184e30;
  --ifm-color-primary-dark: #16462b;
  --ifm-color-primary-darker: #144229;
  --ifm-color-primary-darkest: #113722;
  --ifm-color-primary-light: #1a5635;
  --ifm-color-primary-lighter: #1c5a37;
  --ifm-color-primary-lightest: #1f653e;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3ddc84;
  --ifm-color-primary-dark: #27d675;
  --ifm-color-primary-darker: #25ca6f;
  --ifm-color-primary-darkest: #1ea75b;
  --ifm-color-primary-light: #55e093;
  --ifm-color-primary-lighter: #61e29b;
  --ifm-color-primary-lightest: #84e9b1;
}

.hero__title {
  font-size: 2.5rem;
}
